@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');


:root {
  --bg: #f3f4f6; 
  --header: #2b6cb0; 
  --link: #4299e1; 
  --text: #4a5568; 
  --font-family: 'Poppins', sans-serif; 
}

[data-theme='dark'] {
  --bg: #282c34;
  --header: #fff;
  --link: #61dafb;
  --text: hsla(0, 0%, 100%, 0.88);
  --navbar-bg: #1a1a1a;
  --navbar-link: #f0f0f0;
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
}

a {
  color: var(--link);
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--header);
}

main {
  padding: 20px;
}

.dark-mode-toggle-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 800px; 
  margin: 0 auto; 
  border: 10px solid var(--text);
  padding: 20px; 
  border-radius: 5px; 
}

.container > * {
  text-align: center; 
  margin-bottom: 20px;
}

button {
  cursor: pointer;
}

.dob-label {
  font-size: 0.8rem;
  color: var(--text);
  display: block;
  margin-left: 5px;
}